* {
  margin: 0;
  padding: 0;
}

.nav {
  background-color: crimson;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  margin: auto;
  border-radius: 10px;
}

/* .location {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .location p {
  text-transform: uppercase;
} */